PORT=9119
NODE_ENV=production

MEMPOOL_SPACE_WS_URL=wss://mempool.space/api/v1/ws
MEMPOOL_SPACE_RECONNECT_MS=1000

MEMPOOL_KNOTS_HTTP_BASE=https://knotapi.zatobox.io
MEMPOOL_KNOTS_HTTP_POLL_INTERVAL_MS=1000
HTTPS_REDIRECT_HOST=api.zatobox.io
CORS_ALLOWED_ORIGINS=https://zatobox.io,https://www.zatobox.io
