PORT=9119
NODE_ENV=production

BTC_RPC_ONION=25ri7t5k3iipokykr2atnanbfznlv7i2m6vkmxf2h4a64jpgmz5srjid.onion
BTC_RPC_PORT=9332
BTC_RPC_USER=umbrel
BTC_RPC_PASS=replace-with-your-rpc-password
TOR_SOCKS_HOST=tor
TOR_SOCKS_PORT=9050
BTC_RPC_POLL_INTERVAL_MS=5000
BTC_RPC_TIMEOUT_MS=4000

MEMPOOL_SPACE_WS_URL=wss://mempool.space/api/v1/ws
MEMPOOL_SPACE_RECONNECT_MS=1000

MEMPOOL_KNOTS_HTTP_BASE=https://knotapi.zatobox.io
MEMPOOL_KNOTS_HTTP_POLL_INTERVAL_MS=1000
